body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.form1 {
  display: block;
  margin-bottom: 10px;
}
.form1 label {
  display: block;
}

input {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 30px;
}

.checkbox,
.radio {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.checkbox label,
.radio label {
  margin: 0px;
  display: inline-block;
}

.checkbox input,
.radio input {
  margin: 0px;
  width: 20px;
  height: 20px;
}

button {
  margin-top: 30px;
  display: block;
  padding: 10px 20px;
  background: #caf;
  border: none;
  font-size: 2rem;
  color: #217;
  border-radius: 4px;
  cursor: pointer;
}
